<form method="POST">
    {% csrf_token %}
<hr>
<br>
<label for="item_name">Item Name</label>
<input type="text" name="item_name" id=""> <br>
<br> <hr>
<br>
<label for="item_desc">Item Desc</label>
<input type="text" name="item_desc" id=""> <br>
<br> <hr>
<br>
<label for="item_price">Item Price</label>
<input type="text" name="item_price" id=""> <br>
<br> <hr>
<br>
<label for="item_image">Item Image</label>
<input type="text" name="item_image" id=""> <br>
<br> <hr> 
<br>
<button type="submit">Submit</button> <br>
<br> <hr>
<br>
</form>