{% extends "base.html" %} {% block content %} {% for food1 in food %}

<!-- Card code -->
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <br />
      <img
        width="200px"
        src="{{food1.item_image}}"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{food1.item_name}}</h5>
        <p class="card-text">{{food1.item_desc}}</p>
        <p class="card-text">{{food1.item_price}}</p>
        <a class="btn btn-danger" href="delete/{{food1.id}}" role="button"
          >Delete-Item</a
        >
        &nbsp;
        <a class="btn btn-success" href="" role="button">Add-Item</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
